In [1]:
import pandas as pd

In [2]:
# column_names = ['task', 'status', 'trackerID', 'serverregion','timestamp', 'server']
df = pd.read_csv('/Users/adeleke/Desktop/10Alytics/Cohort 7/log.txt', sep='|', names=['task', 'status', 'trackerID', 'serverregion','timestamp', 'server'])

In [3]:
df.head()

,task,status,trackerID,serverregion,timestamp,server
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643

In [4]:
# First split the columns severregion
df[['execution_state', 'execution_country']] = df['serverregion'].str.split(';', expand=True)

In [5]:
df.head(5)

,task,status,trackerID,serverregion,timestamp,server,execution_state,execution_country
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia

In [6]:
df

,task,status,trackerID,serverregion,timestamp,server,execution_state,execution_country
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia
...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,USA
996,Optimizing database performance,failed,89328464483,California;USA,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,USA
997,Optimizing database performance,success,89328464484,Texas;USA,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,USA
998,Building data pipelines,success,89328464485,Texas;USA,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,USA
999,Designing and implementing data models,success,89328464486,New York;USA,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,USA

In [7]:
# Then want to rename the columns to depict the description

In [8]:
df.rename(columns={'task':'executed_task', 'status': 'execution_status', 'trackerID': 'tracker_id', 'serverregion': 'server_region', 'server': 'server_id'}, inplace=True)

In [9]:
df.head(2)

,executed_task,execution_status,tracker_id,server_region,timestamp,server_id,execution_state,execution_country
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada

In [10]:
df.isna().info()
df['tracker_id'].dtype
#df['server_region'].dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   executed_task      1000 non-null   bool
 1   execution_status   1000 non-null   bool
 2   tracker_id         1000 non-null   bool
 3   server_region      1000 non-null   bool
 4   timestamp          1000 non-null   bool
 5   server_id          1000 non-null   bool
 6   execution_state    1000 non-null   bool
 7   execution_country  1000 non-null   bool
dtypes: bool(8)
memory usage: 7.9 KB

dtype('int64')

In [11]:
# Okay it appears timestamp should be 10 digits, so i'll check how many rows are over 10 digits
list = []
for i in df['timestamp']:
    if len(str(i)) == 13:
        list.append(i)
print(len(list))

1000

In [12]:
# So all columns have 13 digits, ill simply slice instead of dividing by 1000, okay its an integer so no slicing
df['timestamp'] = df['timestamp']/1000

In [13]:
df

,executed_task,execution_status,tracker_id,server_region,timestamp,server_id,execution_state,execution_country
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia
...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1.593117e+09,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,USA
996,Optimizing database performance,failed,89328464483,California;USA,1.597399e+09,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,USA
997,Optimizing database performance,success,89328464484,Texas;USA,1.607161e+09,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,USA
998,Building data pipelines,success,89328464485,Texas;USA,1.588131e+09,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,USA
999,Designing and implementing data models,success,89328464486,New York;USA,1.604987e+09,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,USA

In [14]:
# Attempt converting timestamp to human readable datetime format
df['execution_date'] = pd.to_datetime(df['timestamp'], unit='s')

In [15]:
df

,executed_task,execution_status,tracker_id,server_region,timestamp,server_id,execution_state,execution_country,execution_date
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA,2020-09-03 00:35:05
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada,2020-05-11 17:36:39
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA,2020-07-23 00:17:26
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA,2020-11-21 04:21:27
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia,2020-04-20 03:44:26
...,...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1.593117e+09,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,USA,2020-06-25 20:32:37
996,Optimizing database performance,failed,89328464483,California;USA,1.597399e+09,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,USA,2020-08-14 10:00:01
997,Optimizing database performance,success,89328464484,Texas;USA,1.607161e+09,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,USA,2020-12-05 09:37:35
998,Building data pipelines,success,89328464485,Texas;USA,1.588131e+09,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,USA,2020-04-29 03:24:23
999,Designing and implementing data models,success,89328464486,New York;USA,1.604987e+09,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,USA,2020-11-10 05:45:32

In [16]:
df.rename(columns={'server_id': 'server_ip_address', 'timestamp': 'execution_time'}, inplace=True)

In [17]:
df

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA,2020-09-03 00:35:05
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada,2020-05-11 17:36:39
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA,2020-07-23 00:17:26
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA,2020-11-21 04:21:27
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia,2020-04-20 03:44:26
...,...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1.593117e+09,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,USA,2020-06-25 20:32:37
996,Optimizing database performance,failed,89328464483,California;USA,1.597399e+09,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,USA,2020-08-14 10:00:01
997,Optimizing database performance,success,89328464484,Texas;USA,1.607161e+09,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,USA,2020-12-05 09:37:35
998,Building data pipelines,success,89328464485,Texas;USA,1.588131e+09,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,USA,2020-04-29 03:24:23
999,Designing and implementing data models,success,89328464486,New York;USA,1.604987e+09,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,USA,2020-11-10 05:45:32

In [18]:
df['executed_task'].value_counts()

executed_task
Extracting data from various sources       201
Data governance                            116
Data quality assurance                     111
Loading data into a data warehouse         106
Building data pipelines                    102
Transforming data into a unified format    102
Data integration                           100
Optimizing database performance             83
Designing and implementing data models      79
Name: count, dtype: int64

In [19]:
df.groupby('execution_status')['tracker_id'].count()

execution_status
-          113
failed     121
success    766
Name: tracker_id, dtype: int64

In [20]:
df.loc[(df['execution_status'] != 'failed') & (df['execution_status'] != 'success')]

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date
6,Optimizing database performance,-,89328463493,Tokyo;Japan,1.596900e+09,7f2b:df86:5279:687d:2f43:9cbe:d291:8125,Tokyo,Japan,2020-08-08 15:23:35
16,Designing and implementing data models,-,89328463503,Texas;USA,1.602189e+09,56c0:efbf:2ecc:67b6:61c:2fa6:7b12:2e12,Texas,USA,2020-10-08 20:35:13
17,Data quality assurance,-,89328463504,Texas;USA,1.589043e+09,99db:f6af:4b20:e70d:3f70:a3a7:1750:dd48,Texas,USA,2020-05-09 16:42:47
31,Data governance,-,89328463518,Paris;France,1.590871e+09,2e0:9665:ad00:a232:ed01:8244:ed87:6e55,Paris,France,2020-05-30 20:33:05
50,Extracting data from various sources,-,89328463537,Queensland;Australia,1.605309e+09,730a:74b4:cefe:60a:65b4:c024:b7ce:35c4,Queensland,Australia,2020-11-13 23:08:36
...,...,...,...,...,...,...,...,...,...
960,Optimizing database performance,-,89328464447,Texas;USA,1.605748e+09,8a07:4614:ba3f:75ca:816f:66c9:da0d:8a8d,Texas,USA,2020-11-19 01:11:19
967,Extracting data from various sources,-,89328464454,Queensland;Australia,1.598299e+09,1fe1:2555:111d:7219:affb:e177:a079:733a,Queensland,Australia,2020-08-24 20:01:47
980,Building data pipelines,-,89328464467,Texas;USA,1.596457e+09,9416:11fa:1599:e4b4:1976:dc30:c4a5:19c6,Texas,USA,2020-08-03 12:22:01
989,Data quality assurance,-,89328464476,Florida;USA,1.602308e+09,34ff:463b:f027:af2c:3a96:14c6:faef:b94a,Florida,USA,2020-10-10 05:28:41
993,Data integration,-,89328464480,Ontario;Canada,1.587385e+09,9881:ebd9:fcc2:75b:d26e:d0ea:dbfc:131b,Ontario,Canada,2020-04-20 12:18:57

In [21]:
# Changed '-' in status to a meaningful text

In [22]:
df['execution_status'] = df['execution_status'].apply(lambda text : text.replace('-', 'others'))

In [23]:
df.loc[(df['execution_status'] != 'failed') & (df['execution_status'] != 'success')]

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date
6,Optimizing database performance,others,89328463493,Tokyo;Japan,1.596900e+09,7f2b:df86:5279:687d:2f43:9cbe:d291:8125,Tokyo,Japan,2020-08-08 15:23:35
16,Designing and implementing data models,others,89328463503,Texas;USA,1.602189e+09,56c0:efbf:2ecc:67b6:61c:2fa6:7b12:2e12,Texas,USA,2020-10-08 20:35:13
17,Data quality assurance,others,89328463504,Texas;USA,1.589043e+09,99db:f6af:4b20:e70d:3f70:a3a7:1750:dd48,Texas,USA,2020-05-09 16:42:47
31,Data governance,others,89328463518,Paris;France,1.590871e+09,2e0:9665:ad00:a232:ed01:8244:ed87:6e55,Paris,France,2020-05-30 20:33:05
50,Extracting data from various sources,others,89328463537,Queensland;Australia,1.605309e+09,730a:74b4:cefe:60a:65b4:c024:b7ce:35c4,Queensland,Australia,2020-11-13 23:08:36
...,...,...,...,...,...,...,...,...,...
960,Optimizing database performance,others,89328464447,Texas;USA,1.605748e+09,8a07:4614:ba3f:75ca:816f:66c9:da0d:8a8d,Texas,USA,2020-11-19 01:11:19
967,Extracting data from various sources,others,89328464454,Queensland;Australia,1.598299e+09,1fe1:2555:111d:7219:affb:e177:a079:733a,Queensland,Australia,2020-08-24 20:01:47
980,Building data pipelines,others,89328464467,Texas;USA,1.596457e+09,9416:11fa:1599:e4b4:1976:dc30:c4a5:19c6,Texas,USA,2020-08-03 12:22:01
989,Data quality assurance,others,89328464476,Florida;USA,1.602308e+09,34ff:463b:f027:af2c:3a96:14c6:faef:b94a,Florida,USA,2020-10-10 05:28:41
993,Data integration,others,89328464480,Ontario;Canada,1.587385e+09,9881:ebd9:fcc2:75b:d26e:d0ea:dbfc:131b,Ontario,Canada,2020-04-20 12:18:57

In [25]:
df['execution_date'].head(2)

0   2020-09-03 00:35:05
1   2020-05-11 17:36:39
Name: execution_date, dtype: datetime64[ns]

In [26]:
# Since this is already datetime, I can extract, month, day, day_of_week and quarter
df['year'] = pd.DatetimeIndex(df['execution_date']).year
df['month'] = pd.DatetimeIndex(df['execution_date']).month
df['day'] = pd.DatetimeIndex(df['execution_date']).day
df["Quarter"] = df.execution_date.dt.quarter
df['quarter2'] = df['execution_date'].dt.to_period('Q')

In [27]:
df

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date,year,month,day,Quarter,quarter2
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA,2020-09-03 00:35:05,2020,9,3,3,2020Q3
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada,2020-05-11 17:36:39,2020,5,11,2,2020Q2
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA,2020-07-23 00:17:26,2020,7,23,3,2020Q3
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA,2020-11-21 04:21:27,2020,11,21,4,2020Q4
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia,2020-04-20 03:44:26,2020,4,20,2,2020Q2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1.593117e+09,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,USA,2020-06-25 20:32:37,2020,6,25,2,2020Q2
996,Optimizing database performance,failed,89328464483,California;USA,1.597399e+09,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,USA,2020-08-14 10:00:01,2020,8,14,3,2020Q3
997,Optimizing database performance,success,89328464484,Texas;USA,1.607161e+09,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,USA,2020-12-05 09:37:35,2020,12,5,4,2020Q4
998,Building data pipelines,success,89328464485,Texas;USA,1.588131e+09,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,USA,2020-04-29 03:24:23,2020,4,29,2,2020Q2
999,Designing and implementing data models,success,89328464486,New York;USA,1.604987e+09,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,USA,2020-11-10 05:45:32,2020,11,10,4,2020Q4

In [34]:
def hourSlicing(date_text):
    new_text = date_text[11:13]
    return new_text

In [38]:
df['ConvertedDate']=df['execution_date'].astype(str)

In [39]:
df.head()

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date,year,month,day,Quarter,quarter2,ConvertedDate
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA,2020-09-03 00:35:05,2020,9,3,3,2020Q3,2020-09-03 00:35:05
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada,2020-05-11 17:36:39,2020,5,11,2,2020Q2,2020-05-11 17:36:39
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA,2020-07-23 00:17:26,2020,7,23,3,2020Q3,2020-07-23 00:17:26
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA,2020-11-21 04:21:27,2020,11,21,4,2020Q4,2020-11-21 04:21:27
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia,2020-04-20 03:44:26,2020,4,20,2,2020Q2,2020-04-20 03:44:26

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   executed_task      1000 non-null   object
 1   execution_status   1000 non-null   object
 2   tracker_id         1000 non-null   int64
 3   server_region      1000 non-null   object
 4   execution_time     1000 non-null   float64
 5   server_ip_address  1000 non-null   object
 6   execution_state    1000 non-null   object
 7   execution_country  1000 non-null   object
 8   execution_date     1000 non-null   datetime64[ns]
 9   year               1000 non-null   int32
 10  month              1000 non-null   int32
 11  day                1000 non-null   int32
 12  Quarter            1000 non-null   int32
 13  quarter2           1000 non-null   period[Q-DEC]
 14  ConvertedDate      1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(4), int64(1), object(7), period[Q-DEC](1)
memory usage: 101.7+ KB

In [41]:
df['execution_hour'] = df['ConvertedDate'].apply(hourSlicing)

In [44]:
df.head()

,executed_task,execution_status,tracker_id,server_region,execution_time,server_ip_address,execution_state,execution_country,execution_date,year,month,day,Quarter,quarter2,ConvertedDate,execution_hour
0,Data quality assurance,success,89328463487,Florida;USA,1.599093e+09,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA,2020-09-03 00:35:05,2020,9,3,3,2020Q3,2020-09-03 00:35:05,00
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1.589219e+09,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada,2020-05-11 17:36:39,2020,5,11,2,2020Q2,2020-05-11 17:36:39,17
2,Extracting data from various sources,success,89328463489,California;USA,1.595463e+09,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA,2020-07-23 00:17:26,2020,7,23,3,2020Q3,2020-07-23 00:17:26,00
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1.605932e+09,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA,2020-11-21 04:21:27,2020,11,21,4,2020Q4,2020-11-21 04:21:27,04
4,Data quality assurance,success,89328463491,Queensland;Australia,1.587354e+09,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia,2020-04-20 03:44:26,2020,4,20,2,2020Q2,2020-04-20 03:44:26,03

In [45]:
# df['execution_hour'].astype(int)

0       0
1      17
2       0
3       4
4       3
       ..
995    20
996    10
997     9
998     3
999     5
Name: execution_hour, Length: 1000, dtype: int64